body{
    font-family:roboto,sans-serif;
}
.c1{                    /*column1*/
    width: 400px;  
}
.c2{                    /*column2*/
    color:grey;
}
.tp{                    /*tablepara */
    font-size: 16px; 
    color:grey;
}
.course{
    width: 100%; 
    border: none; 
    border-bottom: grey solid; 
    font-size: 16px;
}
.name{
    width: 816px; 
    border: none; 
    border-bottom: grey solid; 
    font-size: 16px;
}
.f{
    width: 816px;
    color: grey;
    display:inline-flex ; 
}
font{
    color: grey;
}
.DOB{
    border: none; 
    border-bottom:grey solid; 
    font-size: 16px;
}
#age{
    width:400px;
    border: none; 
    border-bottom:grey dotted; 
    font-size: 16px;
}
.edu,ol{
    width:800px;
}
#slots{
        display: flex;
        align-items: center;
        padding: 5px;
        box-shadow: black;
        box-shadow: 0px 1px 5px 0px black,0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
        width:800px;
}
.submit{
    background:#3f51b5;
    color:white;
}

